body .container
  #admin
    :position relative
    .menu
      :background-color #fff
      :padding 1em
      .drafts
        :margin-left 3%
      .recentcomments, .drafts
        :float left
        :width 48%
        h2
          :font-size 85%
          :text-transform uppercase
          :font-weight bold
          :color #777
          :padding-bottom .5em
        .item
          :padding .2em
          a.view
            :display block
            :float left
          .admin
            :padding 0
            :float right
            :font-size 85%
            :font-weight bold
            :text-transform uppercase
            :width 5em
            :background-color transparent
            .menu
              :padding 0
              :float right
              :background-color transparent
              a
                :text-decoration none
                :color #777
              span
                :display block
                :float left
              span.delete
                :position relative
                :background-image url(/images/icon-trash-grey.png)
                :background-repeat no-repeat
                :background-position left center
                :text-indent 100px
                :width 15px
                :margin-left .5em
                :overflow hidden

                a
                  :display block
                  :line-height 15px
        .item:hover
          :background-color #eee
          a
            :color #333
      .menu-body
        :padding-bottom 1em
      .menu-footer
        :padding-top 1em
        :border-top 2px dotted #ccc
        a
          :padding-right 1em
          :color #777
          :text-decoration none
          :text-transform uppercase
          :font-size 85%
          :font-weight bold
        a:hover
          :color #555
          :cursor pointer
    .tab
      :display block
      :position absolute
      :bottom -1.7em
      :right 0
      :background-image url(/images/admin-tab-white.png)
      :background-position top left
      :padding .4em .4em .4em 2em
      a
        :background-image url(/images/icon-gear.gif)
        :background-repeat no-repeat
        :background-position left center
        :text-transform uppercase
        :font-weight bold
        :padding-left 20px
        :padding-top .3em
        :padding-bottom .3em
        :font-size 85%
        :text-decoration none
        :color #777
        :cursor pointer
      
  #content
    .post, .content, .page
      .admin
        :font-size 85%
        :right 0
        :top 0
        :position absolute
        .menu
          :background-image url(/images/admin-tab-grey.png)
          :background-repeat no-repeat
          :background-position left top
          :top 0
          :padding .2em 0 .4em 2.3em
          :text-align right
          :width 5em
          a
            :color #fff
            :text-decoration none
            :font-weight bold
            :text-transform uppercase
          span
            :display block
            :float left
          span.delete
            :position relative
            :background-image url(/images/icon-trash-white.png)
            :background-repeat no-repeat
            :background-position left center
            :text-indent 100px
            :width 15px
            :margin-left .5em
            :overflow hidden
            a
              :display block
              :line-height 15px
          
    .previous-posts
      .post
        .admin
          :right -1.2em
          :background-color #fff
          .menu
            :background-image url(/images/admin-arrow.png)
            :background-position left center          
    .comments
      .comment
        .admin
          .menu
            :background-image url(/images/admin-tab-white.png)
            a
              :color #777
            span.delete
              :background-image url(/images/icon-trash-grey.png)
          
