body .container {
  width: 39.5em;
  min-width: 526px; }
  body .container form textarea.text {
    width: 36.9em; }
  body .container #admin {
    height: 1%; }
  body .container #content .comments .comment {
    clear: both; }
  body .container #content form fieldset.wide .text {
    width: 36.9em; }
